//	==========================================================================
	Table of Contents
	0.	Imports
	1.	Design Tokens
	1.1	Colors
	1.2	Fonts
	1.3	Icons
	1.4	Breakpoints
	2.	Mixins
	2.2	Animations
	3.	General
	4.	Components
	4.1	Wrappers
	4.2	Texts
	4.3	Buttons
	4.4	Pills
	4.5	Images
	9.	Utilities
	10.	Footer
	11.	Media Queries (Tablet)
	12.	Media Queries (Mobile)
	13.	Animations

//	==========================================================================
	0. Imports - The external complements for the project

//	Poppins font from Google
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'

//	Normalize browsers
@import normalize

//	==========================================================================
	1. Design Tokens - Set up for atomic elements from design kit as variables

//	1.1 Colors

$Color-Dark-90: #19192E
$Color-Sky: hsla(207, 100%, 63%, 1)
$Color-Sky-40: hsla(207, 100%, 70%, 1)
$Color-Sky-10: hsla(208, 90%, 96%, 1)
$Color-Gray-60: #5D87A8
$Color-Gray-50: #859FB4
$Color-Gray-10: hsla(210, 14%, 99%, 1)
$Color-White: #FFFFFF
$Color-Main-50: #AF48FF
$Color-Main-20: #F5EDFF
$Color-Layout-05: #FBFBFC
$Gradient-Main: -webkit-linear-gradient(-75deg, #FF26B2 0%, #851BD9 64%, #3F0FFF 100%)
$Gradient-Background-Light: -webkit-linear-gradient( #F5EEFF 0%, rgba(255, 255, 255, 0) 100%)

//	1.2 Fonts

$Font: 'Poppins', sans-serif
$Font-Size-Base: 14px
$Font-Ultrablack: 900
$Font-Black: 800
$Font-Bold: 700
$Font-Semibold: 500
$Font-Medium: 400
$Font-Regular: 300
$Font-Light: 200
$Font-Size-16px: 1.15rem
$Font-Size-18px: 18px
$Font-Size-20px: 20px
$Font-Size-40px: 3rem
$Font-Size-30px: 2.5rem
$Font-Size-50px: 3.6rem
$Font-Size-12px: .86rem
$Font-Size-90px: 90px

=Typography-Style
	font-family: $Font
	font-size: $Font-Size-Base
	color: $Color-Dark-90

=Text-Style-H1
	font-size: $Font-Size-90px
	font-weight: $Font-Bold
	font-style: normal
	line-height: 1.2em
	letter-spacing: -.04em

=Text-Style-Description
	font-size: $Font-Size-20px
	font-weight: $Font-Regular
	font-style: normal
	line-height: 1.6em

=Text-Style-Buttons
	font-size: $Font-Size-18px
	font-weight: $Font-Semibold
	font-style: normal
	line-height: 1.5em

=Text-Style-Menu
	font-size: $Font-Size-18px
	font-weight: $Font-Regular
	font-style: normal
	line-height: 1.5em

=Text-Gradient-Main
	background-image: $Gradient-Main
	-webkit-background-clip: text
	background-clip: text
	color: transparent

//	1.3 Icons

=Icon-State-Grey-to-Purp
	a
		> svg path
			fill: $Color-Gray-60
		&:hover > svg path
			fill: $Color-Main-50

.Icon-Link-Box
	width: 24px
	height: 24px
	a
		display: block
		width: 100%
		height: 100%

.Icon-Grey-to-Purp
	+Icon-State-Grey-to-Purp

//	1.4 Breakpoints - Sets mixins for different screen breakpoints for devices
	min is from
	max es to

//	Smaller than 1140px (Tablet)
=Breakpoint-1140px
	@media ( max-width: 1140px )
		@content

//	Smaller than 1070px (Tablet)
=Breakpoint-1070px
	@media ( max-width: 1070px )
		@content

//	Smaller than 980px (Tablet)
=Breakpoint-980px
	@media ( max-width: 980px )
		@content

//	Smaller than 830px (Tablet)
=Breakpoint-830px
	@media ( max-width: 830px )
		@content

//	Smaller than 700px (Tablet)
=Breakpoint-700px
	@media ( max-width: 700px )
		@content

//	==========================================================================
	2. Mixins - Utilitaries mixins for different cases and "ahorrar" code

=Flex-Row-Between
	display: flex
	justify-content: space-between

=Flex-Column-SetGap
	display: flex
	flex-direction: column

=Flex-Row-SetGap
	display: flex

=transition
	transition: .5s

//	==========================================================================
	3. General - Setting up some base styles

html
	+transition
	+Typography-Style
	background: $Color-Layout-05
	scroll-behavior: smooth
	+Breakpoint-830px
body
	padding: 0
	margin: 0 auto
	max-width: 1280px
ul, figure, p, h1
	margin: 0
	padding: 0
a
	text-decoration: none
button
	cursor: pointer
	border-width: 0
	border-style: none
	border-color: transparent
	box-sizing: content-box
	&:focus
		outline: none
h1
	+Text-Style-H1

//	==========================================================================
	4. Components

//	4.1 Wrappers - Containers, groups and differents boxes in layouts

.Header-Main
	width: auto
	display: grid
	grid-template-columns: 1fr auto 1fr
	align-items: center
	padding: 1.7em 2.8em
	+Breakpoint-980px
	+Breakpoint-700px
.Wrapper-Logo
	display: flex
	align-items: center
.Nav-Main-Header
	height: 100%
	ul
		height: 100%
		display: grid
		grid-template-columns: auto auto auto auto
		column-gap: 2.2em
		li
			display: inline-block
			height: 100%
			a
				display: flex
				width: 100%
				height: 100%
				align-items: center
				+Text-Style-Menu
				color: $Color-Gray-60
				&:hover
					color: $Color-Main-50
					+transition
	+Breakpoint-700px
.Wrapper-Icons-Header
	display: grid
	grid-template-columns: auto auto
	justify-content: end //Descubro como cambia de items a content
	column-gap: 2.2em
.Wrapper-Content-Hero
	width: 100%
	margin-top: 5.15em //14px
	display: grid
	grid-template-rows: auto auto
	row-gap: 4em
	justify-items: center
	+Breakpoint-1070px
.Wrapper-Texts-Hero
	text-align: center
	display: grid
	grid-template-rows: auto auto
	row-gap: 2.3em
.Wrapper-Buttons-Hero
	display: grid
	grid-template-columns: auto auto
	column-gap: .75em
	+Breakpoint-700px

//	4.2 Texts

.Title-Hero
	.Text-Gradient
		+Text-Gradient-Main
	+Breakpoint-1070px
	+Breakpoint-980px
	+Breakpoint-700px
.Description-Hero
	+Text-Style-Description
	color: $Color-Gray-60
	+Breakpoint-1070px
	+Breakpoint-980px
	+Breakpoint-700px
.Logo
	font-size: $Font-Size-20px
	font-weight: $Font-Semibold
	letter-spacing: -.04em
	a
		color: $Color-Dark-90

//	4.3 Buttons

.Button
	+Text-Style-Buttons
	text-align: center
	padding: 1.15rem 2.85rem
	border-radius: .7rem
	&:hover
		+transition
	+Breakpoint-700px
.Button-Main
	background-image: $Gradient-Main
	color: $Color-White
.Button-Side
	background-color: $Color-White
	.Text
		+Text-Gradient-Main
	&:hover
		background-color: $Color-Main-20

//	4.4 Pills

.Pill-Sky
	padding: .5em 1em
	background-color: $Color-Sky-10
	color: $Color-Sky
	border-radius: 2em
	p
		font-size: $Font-Size-12px
		line-height: 1.3

//	4.5 Images

.Image-Hero
	background: url(../img/Image-Hero-portrait@2x--a.png) top 8em right / 577px 483px no-repeat
	+Breakpoint-1140px
		background: url(../img/Image-Hero-portrait@2x--b.png) top 10em right 3em / 510.1px 427px no-repeat
	+Breakpoint-1070px
		background: url(../img/Image-Hero-landscape@2x--a.png) top 30em center / 745.5px 364.76px no-repeat
	+Breakpoint-980px
		background: url(../img/Image-Hero-landscape@2x--a.png) top 32em center / 745.5px 364.76px no-repeat
	+Breakpoint-700px
		background: url(../img/Image-Hero-landscape@2x--a.png) top 33em center / 414.9px 203px no-repeat
.BackgroundHero-GradientTop
	background: $Gradient-Background-Light top center / 100% 555px no-repeat

//	==========================================================================
	5. Utilities - These things get used a lot

.Hide
	display: none

//	==========================================================================
	4. Footer - The bottom of every page